@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../js/**/*.vue';
@source '../views/**/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    :root {
        font-feature-settings:
            'cv01',
            'cv02',
            'cv03',
            'cv04',
            'cv06',
            'cv11',
            'liga' 1,
            'calt' 1;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: InterVariable, sans-serif;
        }
    }

    #nprogress {
        @apply relative! z-2000! shadow-none!;
    }

    #nprogress .peg {
        @apply hidden! shadow-none!;
    }
}

@layer components {
    .btn {
        @apply inline-flex cursor-pointer items-center gap-2 rounded-lg border border-neutral-200 px-4 py-[7px] font-semibold outline-hidden duration-150 select-none disabled:opacity-50 dark:border-neutral-700;

        &.btn-primary {
            @apply border-cyan-600 bg-cyan-600 text-white;
        }

        i {
            @apply font-normal;
        }
    }

    .sidebar-menu-item {
        @apply relative flex gap-2 rounded-lg border border-transparent px-3 py-[7px] text-zinc-500 duration-200 hover:bg-zinc-200 hover:text-zinc-900 dark:hover:bg-zinc-700 dark:hover:text-white;

        &.active {
            @apply border-zinc-200 bg-white font-bold text-zinc-900 dark:border-zinc-700 dark:bg-zinc-900 dark:text-white;

            i {
                @apply text-cyan-600;
            }
        }

        i {
            @apply font-normal;
        }
    }
}

